body{
    background: white url("images/background.png") ;
    /*background: white url( ) ;*/
    /*width: 626px;*/
    /*height: 626px;*/
}
.navbar{
    border-radius: 0 ;
}
.navbar-brand{
    font-family: 'Satisfy' , cursive ;
}
.h3{
    color: black;
    font-size: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h4{
    font-size: 22px;
    font-family: "Satisfy", Helvetica, Arial, sans-serif;
}

.well {
    background: whitesmoke  ;
}