body{
    background: #ced0d6;
    /*!*background: white url( ) ;*!*/
    /*!*width: 626px;*!*/
    /*!*height: 626px;*!*/
}
.navbar{
    border-radius: 0 ;
    background-color: black;


}
.navbar-brand{
    font-family: 'Satisfy' , cursive ;
}

.h3{

    font-size: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
h4{
    font-size: 22px;


}
.well{
}

.well_as {

}

.jumbotrons{

}
