body{
    background: white url("images/background.png") ;
    /*width: 626px;*/
    /*height: 626px;*/
}
.navbar{
    border-radius: 0 ;
}

.navbar-brand{
    font-family: 'Satisfy' , cursive ;
}
.h3{
    font-family: 'Satisfy' , cursive ;
}