body{
    background: #ced0d6;
    /*!*background: white url( ) ;*!*/
    /*!*width: 626px;*!*/
    /*!*height: 626px;*!*/
}
.navbar{
    border-radius: 0 ;
}
.navbar-brand{
    font-family: 'Satisfy' , cursive ;
}
.h3{

    font-size: inherit;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
h4{
    font-size: 22px;

    font-family: "Satisfy", Helvetica, Arial, sans-serif;
}
.well{
    background: white url("images/pro_back.png")  ;
}

.well_as {
    background: white url("images/pro_back.png") no-repeat ;
}

.jumbotron{
    background: white url("images/background.png")  ;
}

.navbar-default{
    background-color: #ced0d6;
}