<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
			<div class="row">
				<section class="px-portfolio list">
					<div class="col-md-3">
						<div class="listing-tabs">
							<!-- Main Filter -->
							<ul class="portfolio-filter">
							  <li><a class="active" href="#" data-filter="*">All</a></li>
							  <li><a href="#" data-filter=".jquery">Recent Added</a></li>
							  <li><a href="#" data-filter=".html">Top Music</a></li>
							  <li><a href="#" data-filter=".wordpress">Soundcloud</a></li>
							  <li><a href="#" data-filter=".rocket">2014</a></li>
							  <li><a href="#" data-filter=".rocky">Live Performences</a></li>
							  <li><a href="#" data-filter=".wordpress">Soundcloud</a></li>
							  <li><a href="#" data-filter=".rocket">2014</a></li>
							  <li><a href="#" data-filter=".rocky">Live Performences</a></li>
							</ul>
							<!-- Main Filter -->
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="portfolio-items" style="position: relative; height: 1600px;">
								<article class="col-md-12 portfolio-item jquery" style="position: absolute; left: 0px; top: 0px;">
									<figure>
										<a href="#"><img src="assets/extra-images/album-list1.jpg" alt="#" data-pagespeed-url-hash="3551037174" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
										<figcaption>
											<div class="icon-list">
												<ul>
													<li>
														<a href="#"><i class="icon-play7"></i></a>
													</li>
													<li>
														<a href="#"><i class="icon-arrow-down6"></i></a>
													</li>
													<li>
														<a href="#"><i class="icon-cart5"></i></a>
													</li>
												</ul>
											</div>
											<a class="play-btn" href="#"><i class="icon-play7"></i></a>
										</figcaption>
									</figure>
									<div class="text">
										<h2><a href="#">The Fictive Kin  Singers</a></h2>
										<ul class="post-options">
											<li><i class="icon-calendar6"></i>Release Date: <span>23.11.2013</span></li>
											<li>
												<i class="icon-folder-open-o"></i>
												Gener:
												<a href="#">Rock,</a>
												<a href="#">POP,</a>
												<a href="#">Night,</a>
												<a href="#">Remix</a>
											</li>
										</ul>
										<p>This album works with her brand because it’s as if she doesn’t drop any of her accomodate this website. You become closer to the artist, learn the music and much more.</p>
										<a class="tracks-btn" href="#">10 tracks</a>
										<a class="share-btn" href="#">Share</a>
										<a class="px-cart" href="#"><i class="icon-cart5"></i>Buy Album</a>
									</div>
								</article>
								<article class="col-md-12 portfolio-item html" style="position: absolute; left: 0px; top: 320px;">
									<figure>
										<a href="#"><img src="assets/extra-images/album-list2.jpg" alt="#" data-pagespeed-url-hash="3845537095" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
										<figcaption>
											<div class="icon-list">
												<ul>
													<li>
														<a href="#"><i class="icon-play7"></i></a>
													</li>
													<li>
														<a href="#"><i class="icon-arrow-down6"></i></a>
													</li>
													<li>
														<a href="#"><i class="icon-cart5"></i></a>
													</li>
												</ul>
											</div>
											<a class="play-btn" href="#"><i class="icon-play7"></i></a>
										</figcaption>
									</figure>
									<div class="text">
										<h2><a href="#">The Dark Side of the Moon</a></h2>
										<ul class="post-options">
											<li><i class="icon-calendar6"></i>Release Date: <span>23.11.2013</span></li>
											<li>
												<i class="icon-folder-open-o"></i>
												Gener:
												<a href="#">Rock,</a>
												<a href="#">POP,</a>
												<a href="#">Night,</a>
												<a href="#">Remix</a>
											</li>
										</ul>
										<p>This album works with her brand because it’s as if she doesn’t drop any of her accomodate this website. You become closer to the artist, learn the music and much more.</p>
										<a class="tracks-btn" href="#">10 tracks</a>
										<a class="share-btn" href="#">Share</a>
										<a class="px-cart" href="#"><i class="icon-cart5"></i>Buy Album</a>
									</div>
								</article>
								<article class="col-md-12 portfolio-item wordpress" style="position: absolute; left: 0px; top: 640px;">
									<figure>
										<a href="#"><img src="assets/extra-images/album-list3.jpg" alt="#" data-pagespeed-url-hash="4140037016" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
										<figcaption>
											<div class="icon-list">
												<ul>
													<li>
														<a href="#"><i class="icon-play7"></i></a>
													</li>
													<li>
														<a href="#"><i class="icon-arrow-down6"></i></a>
													</li>
													<li>
														<a href="#"><i class="icon-cart5"></i></a>
													</li>
												</ul>
											</div>
											<a class="play-btn" href="#"><i class="icon-play7"></i></a>
										</figcaption>
									</figure>
									<div class="text">
										<h2><a href="#">The Marshall Mathers LP</a></h2>
										<ul class="post-options">
											<li><i class="icon-calendar6"></i>Release Date: <span>23.11.2013</span></li>
											<li>
												<i class="icon-folder-open-o"></i>
												Gener:
												<a href="#">Rock,</a>
												<a href="#">POP,</a>
												<a href="#">Night,</a>
												<a href="#">Remix</a>
											</li>
										</ul>
										<p>This album works with her brand because it’s as if she doesn’t drop any of her accomodate this website. You become closer to the artist, learn the music and much more.</p>
										<a class="tracks-btn" href="#">10 tracks</a>
										<a class="share-btn" href="#">Share</a>
										<a class="px-cart" href="#"><i class="icon-cart5"></i>Buy Album</a>
									</div>
								</article>
								<article class="col-md-12 portfolio-item rocket" style="position: absolute; left: 0px; top: 960px;">
									<figure>
										<a href="#"><img src="assets/extra-images/album-list1.jpg" alt="#" data-pagespeed-url-hash="3551037174" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
										<figcaption>
											<div class="icon-list">
												<ul>
													<li>
														<a href="#"><i class="icon-play7"></i></a>
													</li>
													<li>
														<a href="#"><i class="icon-arrow-down6"></i></a>
													</li>
													<li>
														<a href="#"><i class="icon-cart5"></i></a>
													</li>
												</ul>
											</div>
											<a class="play-btn" href="#"><i class="icon-play7"></i></a>
										</figcaption>
									</figure>
									<div class="text">
										<h2><a href="#">The Fictive Kin  Singers</a></h2>
										<ul class="post-options">
											<li><i class="icon-calendar6"></i>Release Date: <span>23.11.2013</span></li>
											<li>
												<i class="icon-folder-open-o"></i>
												Gener:
												<a href="#">Rock,</a>
												<a href="#">POP,</a>
												<a href="#">Night,</a>
												<a href="#">Remix</a>
											</li>
										</ul>
										<p>This album works with her brand because it’s as if she doesn’t drop any of her accomodate this website. You become closer to the artist, learn the music and much more.</p>
										<a class="tracks-btn" href="#">10 tracks</a>
										<a class="share-btn" href="#">Share</a>
										<a class="px-cart" href="#"><i class="icon-cart5"></i>Buy Album</a>
									</div>
								</article>
								<article class="col-md-12 portfolio-item rocky" style="position: absolute; left: 0px; top: 1280px;">
									<figure>
										<a href="#"><img src="assets/extra-images/album-list2.jpg" alt="#" data-pagespeed-url-hash="3845537095" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
										<figcaption>
											<div class="icon-list">
												<ul>
													<li>
														<a href="#"><i class="icon-play7"></i></a>
													</li>
													<li>
														<a href="#"><i class="icon-arrow-down6"></i></a>
													</li>
													<li>
														<a href="#"><i class="icon-cart5"></i></a>
													</li>
												</ul>
											</div>
											<a class="play-btn" href="#"><i class="icon-play7"></i></a>
										</figcaption>
									</figure>
									<div class="text">
										<h2><a href="#">The Fictive Kin  Singers</a></h2>
										<ul class="post-options">
											<li><i class="icon-calendar6"></i>Release Date: <span>23.11.2013</span></li>
											<li>
												<i class="icon-folder-open-o"></i>
												Gener:
												<a href="#">Rock,</a>
												<a href="#">POP,</a>
												<a href="#">Night,</a>
												<a href="#">Remix</a>
											</li>
										</ul>
										<p>This album works with her brand because it’s as if she doesn’t drop any of her accomodate this website. You become closer to the artist, learn the music and much more.</p>
										<a class="tracks-btn" href="#">10 tracks</a>
										<a class="share-btn" href="#">Share</a>
										<a class="px-cart" href="#"><i class="icon-cart5"></i>Buy Album</a>
									</div>
								</article>
							</div>
							<div class="col-md-12">
								<nav class="px-pagination">
									<ul>
									  <li><a class="active">1</a></li>
									  <li><a href="#">2</a></li>
									  <li><a href="#">3</a></li>
									  <li><a href="#">5</a></li>
									  <li><a href="#">6</a></li>
									  <li class="px-page"><a href="#"><i class="icon-ellipsis-h"></i></a></li>
									  <li class="px-page"><a href="#">36</a></li>
									</ul>
							  </nav>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
</body>
</html>